.utility-center-text {
  text-align: center;
}

//MARGIN TOP
.utility-margin-top-sm {
  margin-top: 1.5rem;
}

.utility-margin-top-md {
  margin-top: 4rem;
}

.utility-margin-top-lg {
  margin-top: 8rem;
}

.utility-margin-top-xl {
  margin-top: 10rem;
}

//MARGIN BOTTOM
.utility-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.utility-margin-bottom-md {
  margin-bottom: 4rem;
}

.utility-margin-bottom-lg {
  margin-bottom: 8rem;
}
